@model IEnumerable<BEProjectEllen.Core.ViewModels.QuizVM>

@{
    ViewData["Title"] = "Quizzes";
}

<div class="card-columns">
    @foreach (var item in Model)
    {


        <a asp-action="play" asp-route-id="@item.Quiz.Id" class="card">


            <div>
                <div class="card-title">@item.Quiz.Title</div>
                <p class="card-text">@item.Quiz.Difficulty.Level</p>
                @if (item.BestScoreDate != null)
                {
                    <div class="c-best-score">
                        <div class="c-score">
                            <p class="card-text">Highscore:&nbsp;&nbsp;</p>
                            <p class="card-text">@item.BestScore</p>
                        </div>
                        <p class="card-text">@item.BestScoreDate.Value.ToShortDateString()</p>
                    </div>
                }
            </div>


            @*<div> @Html.DisplayFor(modelItem => item.Title)</div>

                <div>@Html.DisplayFor(modelItem => item.Difficulty.Level)</div>*@

        </a>
    }
</div>
