@model IEnumerable<BEProjectEllen.Core.Quiz>

@{
    ViewData["Title"] = "Quizzes";
}

<div class="card-columns">
    @foreach (var item in Model)
    {


        <a asp-action="play" asp-route-id="@item.Id" class="card">


            <div>
                <div class="card-title">@item.Title</div>
                <p class="card-text">@item.Difficulty.Level</p>
            </div>


            @*<div> @Html.DisplayFor(modelItem => item.Title)</div>

                <div>@Html.DisplayFor(modelItem => item.Difficulty.Level)</div>*@

        </a>

    }

    <div class="card">
        <a asp-action="Create" class="c-create-quiz">New Quiz</a>
    </div>
</div>
