@model IEnumerable<BEProjectEllen.Core.ViewModels.QuizVM>

@{
    ViewData["Title"] = "Quizzes";
}

<div class="card-columns">
    @foreach (var item in Model)
    {


        <a asp-action="play" asp-route-id="@item.Quiz.Id" class="card">


            <div>
                <div class="card-title">@item.Quiz.Title</div>
                <p class="card-text">@item.Quiz.Difficulty.Level</p>
                <p class="card-text">@item.BestScoreDate</p>
                <p class="card-text">Score: <p class="card-text">@item.BestScore</p></p>

            </div>


            @*<div> @Html.DisplayFor(modelItem => item.Title)</div>

            <div>@Html.DisplayFor(modelItem => item.Difficulty.Level)</div>*@

        </a>
    }
</div>
