@model BEProjectEllen.Core.UserQuiz
@*@using MultipleModelInOneView;*@
@{
    ViewData["Title"] = "Results";
}

    <div class="c-board">

        <h1>Results</h1>

        <br />

        @await Component.InvokeAsync("HighScore", new { QuizId = Model.QuizId })

        <br />
        <br />

        @foreach (var userChoice in Model.UserChoices)
        {
            <div class="c-question-score">
                <div class="c-questionTitle">@userChoice.Choice.Question.Title</div>
                <div>Score:&nbsp;<div class="c-questionTitle">@userChoice.Choice.Question.ScoreValue</div></div>
            </div>

            <hr />

            <div class="@(userChoice.Choice.IsCorrect ? "c-choice" : "c-choice c-choice--incorrect")">

                <div>@userChoice.Choice.Description</div>

                <br />

                @if (userChoice.Choice.ImageUrl != null)
                {
                    <img class="c-choiceImage" src="@userChoice.Choice.ImageUrl" alt="Image of @userChoice.Choice.Description" />
                }
                <br />
                <div class="c-questionTitle">@userChoice.Choice.IsCorrect</div>

                <br />
                <br />

            </div>

        }
    </div>

@*<style>
        .c-choice {
            //standaard styles

                backgroundcolor : green;
        }

        .choice--incorrect{
            background-color : red;
        }
    </style>*@
